:root {
  --va-color-white: #ffffff;
  --va-color-black: #0b0b0b;
  --va-color-gray-50: #f6f6f6;
  --va-color-gray-100: #ebebeb;
  --va-color-gray-300: #c9c9c9;
  --va-color-gray-500: #8f8f8f;
  --va-color-gray-700: #4a4a4a;
  --va-color-gray-900: #171717;
}
