:root {
  --va-space-2: 0.125rem;
  --va-space-4: 0.25rem;
  --va-space-8: 0.5rem;
  --va-space-12: 0.75rem;
  --va-space-16: 1rem;
  --va-space-20: 1.25rem;
  --va-space-24: 1.5rem;
  --va-space-32: 2rem;
}
